/* Add this to your App.css file or equivalent */

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Set the background to black */
    color: white; /* Set the text color to white */
    font-family: 'Arial', sans-serif; /* You can choose any font you like */
  }
  
  #app {
    text-align: center;
  }
  
  .title {
    font-size: 2em;
    margin-bottom: 100px;
  }
  
  .options-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .option {
    margin: 0 100px;
  }
  
  .vote-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: white; /* Button background to white */
    color: black; /* Button text color to black */
    border: none;
    cursor: pointer;
  }
  
  .vote-button:hover {
    background-color: grey; /* Button hover state */
  }
  
  .vote-count {
    margin-top: 10px;
    font-size: 1.5em;
  }
  